* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222;
  color: #bbb;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*::after,
*::before {
  box-sizing: inherit;
}

main {
  margin: 50px auto;
  text-align: center;
}

h1 {
  margin: 40px auto;
  padding: 5px;
  font-size: 2.5rem;
}

button {
  width: 120px;
  height: 130px;
  border-radius: 50%;
  padding: 10px 20px;
  margin: 20px 5px;
  background-color: rgb(73, 4, 36);
  border: 3px solid #bbb;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3.5rem;
  letter-spacing: 2px;
}

button:hover {
  cursor: pointer;
  border: none;
  background-color: rgb(92, 17, 79);
  box-shadow: 3px 3px 8px #eee;
}

#ronda {
  width: 50%;
  margin: 10px auto;
  padding: 20px 5px;
}

.textos {
  display: flex;
  justify-content: space-around;
}

.textos span {
  display: inline-block;
  border: 3px solid rgb(73, 4, 36);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 10px;
  background-color: #bbb;
  font-size: 1.5rem;
}

#res-ronda {
  width: 50%;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
}

#button4 {
  width: 120px;
  padding: 10px;
  margin: 10px 5px;
  height: 60px;
  border-radius: 8px;
  background-color: rgb(73, 4, 36);
  color: #ccc;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .9rem;
  letter-spacing: 2px;
}

.autoPlay {
  width: 140px;
  padding: 10px 5px;
}


h3 {
  margin: 10px;
}

p {
  margin: 10px
}