/* Estilos generales */
:root {
  --main-font: "Combo", serif;
  --main-color: rgb(92, 114, 133);
  --second-color: rgb(234, 231, 198);
  --main-modal-color: rgb(156, 173, 143);
  --second-modal-color: rgb(93, 107, 80);
  --ligth-background-color: rgb(235, 236, 236);
  --dark-background-color: rgb(64, 69, 66);
  --container-width: 1000px;
}



html {
  box-sizing: border-box;
  font-family: var(--main-font);
  scroll-behavior: smooth;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: var(--ligth-background-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Menú hamburguesa */

header {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--second-color);
}

.header,
h2 {
  margin: 0 auto;
  text-align: center;
}

h3 {
  color: var(--main-color)
}

.seccion {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 10vh;
  text-align: center;
}

.panel {
  position: fixed;
  z-index: 990;
  background-color: var(--main-modal-color);
  width: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 1s ease-in-out;
  transform: translate(-100%, 0);
}

.is-active {
  transform: translate(0, 0);
}

.menu {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu>a {
  padding: 2rem;
  border-radius: 1rem;
  margin-top: .5rem;
  width: inherit;
  display: block;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--dark-background-color);
  transition: all 1.3s ease;
}

.menu>a:hover {
  font-weight: bold;
  color: var(--second-color);
  background-color: var(--second-modal-color);
}


.hamburger {
  position: fixed;
  z-index: 999;
  bottom: 2vw;
  right: 2vw;
  width: 3rem;
  height: 3.5rem;
  border-radius: 7px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  font-weight: 500;
  font-family: var(--main-font);
  color: var(--second-color);
  cursor: pointer;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px 0px var(--second-color);
  transition: all .3s ease-out;
}

.boton:hover {
  background-color: var(--second-modal-color);
  box-shadow: 4px 4px 6px var(--main-color);
}

/* Reloj y Alamra */

.botones-reloj button {
  border: none;
  border-radius: 5px;
  margin: .3rem;
  padding: 5px 8px;
  background-color: var(--main-modal-color);
  font-family: var(--main-font);
  cursor: pointer;
  font-size: 1.1rem;
}

.botones-reloj button:hover {
  box-shadow: 3px 3px 10px var(--main-color);
}

.reloj-alarma {
  width: 50%;
  height: 10dvh;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--second-modal-color);
  padding: .5rem;
}

.reloj-alarma h4 {
  margin: 0;
}

/*Eventos del Teclado*/

.stage {
  display: flex;
  min-height: 30vh;
  background-color: var(--second-modal-color);
}

.ball {
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--second-color);
  border-radius: 50%;
}

/*Botón scroll up*/

.scrollUp {
  position: fixed;
  z-index: 999;
  bottom: 13vw;
  right: 2vw;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 4px;
  background-color: var(--main-color);
  cursor: pointer;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px 0px var(--second-color);
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--second-color);
  transition: all .3s ease-out;
}

.scrollUp:hover {
  background-color: var(--main-modal-color);
  color: #333;
}

.btHidden {
  visibility: hidden;
  opacity: 0;
}

/* Dark Mode */

.btn-theme {
  position: fixed;
  z-index: 980;
  bottom: 2vh;
  left: 2vw;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 2px;
  background-color: var(--main-color);
  cursor: pointer;
  border: none;
  box-shadow: 1.5px 1.5px 1.5px 0px var(--second-color);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--second-color);
  transition: all .3s ease-out;
}

.darkMode {
  background-color: var(--dark-background-color);
  color: var(--second-color)
}

/* Tester */

#tester {
  width: 50%;
  margin: 0 auto;
  padding: 30px 10px;
  background-color: var(--second-modal-color);
  border-radius: 10px;
}

#tester>input {
  width: 60%;
  margin: 5px;
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: var(--main-font);
}

#tester>button {
  width: 40%;
  margin: 5px;
  padding: 5px;
  font-family: var(--main-font);
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid var(--second-modal-color);
  outline: none;
}