* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: rgb(7, 60, 30);
  background: linear-gradient(120deg, rgba(7, 60, 30, 1) 9%, rgba(28, 65, 130, 1) 46%, rgba(35, 12, 79, 1) 81%);
}

main {
  width: 100%;
  height: 100dvh;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: rgba(255, 255, 255, .3);
  padding: 10px 20px;
  border-radius: 8px;
  margin: 3px;
}

#section1 {
  padding: 25px;
}

h1,
h3 {
  margin: 10px;
  padding: 10px 5px;
  color: #fff;
}

button {
  width: 60px;
  height: 60px;
  border: 2px solid #eee;
  border-radius: 5px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

h3 {
  border: 3px solid #fff;
  border-radius: 5px;
  margin: 15px 5px;
  padding: 15px 5px;
}